
.topfixednavigate {
    background-color: #100101;
    border-bottom: 1px solid #999999;
    color: #000000;
    height: 40px;
    left: 0;
    margin: 0 auto;
    padding: 38px 3px 6px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.aligndropdownv {
    margin-top :-28px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-app {
    min-height: 50px;
    border-color: #ccc;
    background: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    color: #007aff;
}

.navbar-absolute-top {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

.navbar-brand-center {
    position: absolute;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-app .btn, .navbar-app .btn-navbar {
    background: 0 0;
    border: none;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #007aff;
    text-transform: uppercase;
}

.pull-left {
    float: left!important;
}

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
}
.sidebar-nav li a:hover {
    color: #19b9e7;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 80px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.logoplace {
    background-color: #ffffff;
    border-bottom: 0px solid #14a6c5;
    border-radius: 0;
    padding: 20px 0 10px;
    text-align: center;
}

.about,.events-ls,.stats-agileits,.testimonials,.team,.gallery,.contact{
  padding:3em 0em;
}
.title-main-ls {
    margin-bottom: 2.5em;
    text-align: center;
}
.title-main-ls .line-ls {
    position: relative;
    display: inline-block;
}
.title-main-ls .line-ls:before {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #f36438;
    position: absolute;
    right: 30px;
    bottom: 8px;
}
.title-main-ls .line-ls:after {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #f36438;
    position: absolute;
    left: 30px;
    bottom: 8px;
}
h3.title-agile {
    color: #000;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: capitalize;
}
h3.title-agile span {
    color: #0cb8b6;
}
.title-agile {
    color: #000;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.title-agile span {
    color: #0cb8b6;
}
.about-right-agileits {
    text-align: center;
    margin: 0 auto;
    float: none;
}
p.para-agileits-layouts {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #fff;
    line-height: 28px;
}
.black-ls{
  color:#9a9a9a!important;
}
.about-btm-wthree {
    margin-top: 3em;
}

.about-grids {
    padding: 3.5em 2.5em;
}
.about-btm-wthree {
    margin-top: 3em;
}
.about-grids:nth-child(1) {
    background: #f36438;
}
 .about-grids:nth-child(2) {
    background: #0cb8b6;
}
 .about-grids:nth-child(3) {
    background: #f36438;
}
 .about-grids:nth-child(4) {
    background: #0cb8b6;
}

/*--appointment --*/
.about-bottomr-agileits {
    padding: 4em 4em;
    position: relative;
}
.about-bottomr-agileits img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
}
.appointment .timings-ls {
    width: 35%;
    float: left;
    padding: 25px 40px!important;
}
.form-agileits input[type="text"], .form-agileits input[type="email"], select.form-control {
    width: 100%;
    float: left;
    color: #000000;
    outline: none;
    font-size: 14px;
    padding: 10px 10px;
  letter-spacing: 1px;
    border: none;
    border-bottom:2px solid rgba(125, 125, 125, 0.36);
    -webkit-appearance: none;
    margin: .3em 0em 1em 0em;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}
.form-agileits input[type="text"]:focus , .form-agileits input[type="email"]:focus , select.form-control:focus {
    border-color: rgba(12, 184, 182, 0.27);
}
input.name,select.name {
    margin-right: 12px!important;
}
input.address{
  width:100%!important;
}
select.form-control {
    outline: none;
    border-radius: 0;
    height: 42px;
  box-shadow: none;
  color: #000;
}
.form-agileits h6, .form-agileits .wthree-text span {
    color: #000010 !important;
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 15px 0 6px;
    font-family: 'Roboto', sans-serif;
}
.form-agileits input[type="submit"] {
    color: #000;
    border: none;
    outline: none;
    padding: 10px 48px;
    margin-top: 2em;
    font-size: 13px;
    background: transparent;
    border: 2px solid #f36438;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.form-agileits input[type="submit"]:hover {
    background: #f36438;
  color:#33cccc;
  border-color:#fff;
  transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all; 
}
.form-control:focus {
    border-color: #f36438;
    outline: 0;
    box-shadow: none;
}
option {
    background: #000;
  color:#fff;
}
.ui-datepicker .ui-datepicker-header {
    background: #f36438;
}
.ls-location {
    background: url(../images/location.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 158px;
    width: 35%;
    float: left;
    margin-left: 21px;
    margin-top: 18px;
}
.ls-location a {
    text-decoration: none;
    display: inline-block;
    color: #f36438;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    margin: 59px 0px 0 137px;
}
/*-- //appointment --*/
@media(max-width:414px){
  .navbar-header h1 a {
    left: 29.5%;
  }
  .about-bottoml-agileits {
    min-height: 355px;
  }
  .about-bottomr-agileits {
    padding: 2.5em 2em;
  }
  .address-info-ls {
    width: 100%;
    float: none;
  }
  .address-info-ls:nth-child(2) {
    float: none;
  }
  .address-info-ls:nth-child(2) ul.address-inner li:nth-child(1):before{
    content: "";
    width: 67%;
    height: 2px;
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 18%;
  }
  .contact-agileits-inner {
    margin: 0em 1em 0!important;
  }
  .agileinfo_footer_bottom1 {
    padding: 0 1em;
  }
  
  .callbacks_nav.next {
    right: -3.9%;
  }
  .callbacks_nav.prev {
    left: -3.9%;
  }
  .about-bottomr-agileits {
    background-size: cover;
  }
}

.green-ls{
  color:#0cb8b6!important;
}
about-bottomr-agileits h3.title-w3-agile:after,.about-bottomr-agileits h3.title-w3-agile:before {
    display:none!important;
}
.about-bottoml-agileits {
    background: url(../images/about.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    min-height: 521px;
}
.about-right-w3-agileits h2 {
    font-size: 22px!important;
    letter-spacing: 9px!important;
    text-shadow: 1px 1px 3px #8e8e8e;
    color: #f36438!important;
    margin-bottom: 0.7em!important;
}
.about-right-w3-agileits {
    text-align: center;
    margin: 0 auto;
    float: none;
}
.white-agileits{
  color:#fff!important;
}


input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
  height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;    background: #ffffff;
    border: 1px solid #656363;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
  outline: 0;
  background: #fff;
    border: 2px solid #656363;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {}

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {}

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {}



button.btn {
  height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #19b9e7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 0.6; color: #fff; }

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #19b9e7; color: #fff; }
