
.topfixednavigate {
    background-color: #100101;
    border-bottom: 1px solid #999999;
    color: #000000;
    height: 40px;
    left: 0;
    margin: 0 auto;
    padding: 38px 3px 6px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.aligndropdownv {
    margin-top :-28px !important;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.navbar-app {
    min-height: 50px;
    border-color: #ccc;
    background: #f7f7f7;
    border-width: 1px;
    border-style: solid;
    color: #007aff;
}

.navbar-absolute-top {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
}

.navbar-brand-center {
    position: absolute;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.navbar-app .btn, .navbar-app .btn-navbar {
    background: 0 0;
    border: none;
    line-height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    color: #007aff;
    text-transform: uppercase;
}

.pull-left {
    float: left!important;
}

body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: #999999;
}
.sidebar-nav li a:hover {
    color: #19b9e7;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 80px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.logoplace {
    background-color: #ffffff;
    border-bottom: 0px solid #14a6c5;
    border-radius: 0;
    padding: 20px 0 10px;
    text-align: center;
}

.about,.events-ls,.stats-agileits,.testimonials,.team,.gallery,.contact{
  padding:6em 0em;
}
.title-main-ls {
    margin-bottom: 2.5em;
    text-align: center;
}
.title-main-ls .line-ls {
    position: relative;
    display: inline-block;
}
.title-main-ls .line-ls:before {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #f36438;
    position: absolute;
    right: 30px;
    bottom: 8px;
}
.title-main-ls .line-ls:after {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #f36438;
    position: absolute;
    left: 30px;
    bottom: 8px;
}
h3.title-agile {
    color: #000;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: capitalize;
}
h3.title-agile span {
    color: #0cb8b6;
}
.about-right-agileits {
    text-align: center;
    margin: 0 auto;
    float: none;
}
p.para-agileits-layouts {
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #fff;
    line-height: 28px;
}
.black-ls{
  color:#9a9a9a!important;
}
.about-btm-wthree {
    margin-top: 3em;
}

.about-grids {
    padding: 3.5em 2.5em;
}
.about-btm-wthree {
    margin-top: 3em;
}
.about-grids:nth-child(1) {
    background: #f36438;
}
 .about-grids:nth-child(2) {
    background: #0cb8b6;
}
 .about-grids:nth-child(3) {
    background: #f36438;
}
 .about-grids:nth-child(4) {
    background: #0cb8b6;
}